langchain
langgraph
python-dotenv
pymupdf
aiofiles
python-multipart
fastapi
langchain
langchain-google-genai
langchain-groq
langchain-community
langchain-core
langchain-text-splitters
faiss-cpu
sentence-transformers 
langchain-tavily
uvicorn
pypdf
langchain-huggingface